<!DOCTYPE html>
<html>
  <head>
    <title>Dev Skills Lab</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/skills/">Skills</a>
    <h1>Dev Skills</h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
